@font-face {
  font-family: Avenir-Bold;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: Avenir-Boldit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-BoldIt.otf);
}

@font-face {
  font-family: Avenir-Demi;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Avenir-Demiit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-DemiIt.otf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Heavy.otf);
}

@font-face {
  font-family: Avenir-Heavyit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-HeavyIt.otf);
}

@font-face {
  font-family: Avenir-It;
  src: url(assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-It.otf);
}

@font-face {
  font-family: Avenir-light;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Light.otf);
}

@font-face {
  font-family: Avenir-Lightit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-LightIt.otf);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf);
}

@font-face {
  font-family: Avenir-MediumIt;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-MediumIt.otf);
}

@font-face {
  font-family: Avenir-regular;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir-Thin;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Thin.otf);
}

@font-face {
  font-family: Avenir-Thinit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-ThinIt.otf);
}

@font-face {
  font-family: Avenir-UltLt;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-UltLt.otf);
}

@font-face {
  font-family: Avenir-UltLtlt;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-UltLtIt.otf);
}

.universal {
  margin: 0;
  font-family: Avenir, Roboto;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #323232;
  margin: 0;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.logo__hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .logo__hero__img {
    padding-left: 1.5rem;
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo__hero__img {
    padding-left: 10rem;
    padding-right: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo__hero__img {
    padding-left: 11.25rem;
  }
}

.nav__top {
  padding-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav__top {
    padding-left: 3.125rem;
    padding-top: 2.5rem;
  }
}

.link__decor {
  font-family: Avenir-Bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  width: 50%;
}

@media screen and (min-width: 1200px) {
  .link__decor {
    margin-right: 3.5rem;
    width: 7.693%;
  }
}

.link__decor:hover {
  opacity: 0.5;
}

.currently__active {
  border-bottom: 0.3125rem solid white;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .currently__active {
    padding-bottom: 3.7rem;
  }
}

@media screen and (min-width: 1200px) {
  .currently__active {
    width: 7.693%;
  }
}

.hero__img {
  background-image: url("../assets/logo/hero-img.jpeg");
  background-color: #323232;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .hero__img {
    height: 25rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__img {
    height: 37.625rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__img {
    height: 41.875rem;
    width: 124.896%;
  }
}

.hero__img__text {
  font-family: Avenir-Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  width: 63%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero__img__text {
    padding-left: 24px;
    padding-right: 24px;
    font-family: Avenir-Bold;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-size: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 64.585%;
  }
}

@media screen and (min-width: 1024px) {
  .hero__img__text {
    padding-left: 5.625rem;
    padding-right: 5.625rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__img__text {
    padding-left: 180px;
    padding-right: 180px;
    width: 29.358%;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 5.625rem;
    padding-right: 5.625rem;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.paragraph__title {
  font-family: Avenir-Bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-size: 1.343rem;
  width: 75%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .paragraph__title {
    font-family: Avenir-Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    width: 48.4%;
    font-size: 2.164rem;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph__title {
    width: 52.4%;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph__title {
    width: 32.41%;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

.paragraph__img {
  width: 100%;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .paragraph__img {
    width: 90%;
    padding-left: 8.519%;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph__img {
    width: 82.964%;
  }
}

.paragraph__quote {
  font-family: Avenir-Bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-size: 0.97rem;
  padding-bottom: 2rem;
  margin: 0;
  width: 98%;
}

@media screen and (min-width: 768px) {
  .paragraph__quote {
    font-family: Avenir-Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 92%;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph__quote {
    padding-left: 8.519%;
    width: 87.678%;
    font-size: 1.45rem;
    text-align: justify;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph__quote {
    width: 69%;
  }
}

.paragraph__author {
  font-family: Avenir-Bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 44%;
  margin: 0;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .paragraph__author {
    width: 17.5%;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph__author {
    padding-left: 8.519%;
    padding-bottom: 3.5rem;
  }
}

.paragraph__heading {
  font-family: Avenir-Bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 83.334%;
  margin: 0;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .paragraph__heading {
    font-family: Avenir-Regular;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Avenir-bold;
    font-size: 1.333rem;
    width: 49%;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph__heading {
    padding-left: 8.519%;
  }
}

.paragraph__container {
  width: 98%;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .paragraph__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph__container {
    padding-left: 8.519%;
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph__container {
    width: 82.964%;
  }
}

@media screen and (min-width: 768px) {
  .paragraph--left {
    font-family: Avenir-Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 431.7%;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph--left {
    font-size: 0.777rem;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph--left {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .paragraph--right {
    font-family: Avenir-Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 431.7%;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph--right {
    font-size: 0.777rem;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph--right {
    font-size: 0.9rem;
  }
}

.picture__container {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .picture__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .picture__container {
    padding-left: 5.625rem;
    padding-right: 5.625rem;
  }
}

@media screen and (min-width: 1440px) {
  .picture__container {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.picture__gallery {
  max-width: 100%;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .picture__gallery {
    max-width: 30.7%;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
  }
}

.picture__right {
  padding-right: 0;
}

.footer {
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  background-color: #323232;
  height: 38rem;
  padding-top: 1.25rem;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
    height: 17rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__heading {
  font-family: Avenir-Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  font-size: 2.11rem;
  max-width: 72.92%;
}

@media screen and (min-width: 768px) {
  .footer__heading {
    max-width: 97%;
  }
}

@media screen and (min-width: 768px) {
  .footer__heading--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 55%;
  }
}

.footer__social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45.838%;
}

@media screen and (min-width: 768px) {
  .footer__social__icons {
    width: 30%;
  }
}

.footer__logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: unset;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__paragraph {
  max-width: 72.92%;
}

.footer__mailto {
  font-family: Avenir-Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  font-size: 0.7rem;
}

.footer--name {
  font-family: Avenir-Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
  max-width: 63.89%;
}

@media screen and (min-width: 768px) {
  .footer--name {
    max-width: 100%;
  }
}

.footer--address {
  font-family: Avenir-Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: normal;
}

.footer--address-container {
  font-family: Avenir-Light;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  font-style: normal;
}

.footer--copy-right {
  font-family: Avenir-Light;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 0;
  font-size: 0.673rem;
  width: 58%;
}

@media screen and (min-width: 768px) {
  .footer--copy-right {
    width: 24%;
  }
}

.footer--copy-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */