@import '../styles/partials/mixins';

.universal {
    margin: 0;
    font-family: Avenir, Roboto;
}

// Nav Styling

.header {
    width: 100%;
    height: 5rem;
    background-color: $black;
    margin: 0;
    padding-bottom: 1.5rem;

    @include tablet {
        display: flex;
    }
}

.logo__hero__img {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    @include tablet {
        padding-left: 1.5rem;
        padding-top: 2.5rem;
    }

    @include laptop {
        padding-left: 10rem;
        padding-right: 3.5rem;
    }

    @include laptop-m {
        padding-left: 11.25rem;
    }
}

.nav__top {
    padding-top: 1rem;
    width: 100%;
    display: flex;

    @include tablet {
        padding-left: 3.125rem;
        padding-top: 2.5rem;
    }
}
        

.link__decor {
    @include mobile-header2-sub-header;
    text-decoration: none;
    color: $white;
    text-align: center;
    width: 50%;
    
    @include laptop-m {
        margin-right: 3.5rem;
    }

    &:hover{
        opacity: 0.5;
    }
 }

.currently__active {
    border-bottom: 0.3125rem solid white;
    padding-bottom: 1.25rem;

    @include tablet {
        padding-bottom: 2.313rem;
    }

    @include laptop-m {
        width: 5rem;
    }
  }

//   Body Styling

.hero__img {
    background-image: url("../assets/logo/hero-img.jpeg");
    background-color: $black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 183px;
    display: flex;
    align-items: center;
    // opacity: 50%;

        @include tablet {
            height: 25rem;
            background-size: 100% 25rem;
    }

        @include laptop {
            height: 37.625rem;
            background-size: 100% 37.625rem;
            margin-bottom: 3rem;
    }

        @include laptop-m {
            height: 41.875rem;
            background-size: 100% 41.875rem;
            margin-bottom: 3rem;
        }

    &__text {
        @include mobile-header1;
        @include mobile-offset;
        color: $white;
        width: 63%;
        margin-left: 1rem;

            @include tablet {
                padding-left: 1.5rem;
                padding-top: 17%;
                font-size: 2.438rem;
                // width: 19.688rem;
            }
            
            @include laptop {
                padding-left: 10rem;
                padding-top: 20%;
            }

            @include laptop-m {
                padding-left: 11.25rem;
            }
        }
}

.container {
    @include mobile-offset;

    @include tablet {
        @include tablet-offset;
        margin-bottom: 0;
    }

    @include laptop {
        @include laptop-offset;
        padding-bottom: 3rem;

    }
    
}


.paragraph {

    &__title {
        @include mobile-header2-sub-header;
        font-size: 1.343rem;
        width: 75%;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        margin-bottom: 0;
        margin-top: 0;
    }
   

    &__img {
        width: 100%;
        padding-bottom: 1.5rem;
    }

    &__quote {
        @include mobile-header2-sub-header;
        font-size: 0.97rem;
        padding-bottom: 2rem;
        margin: 0;
        width: 98%;
    }

    &__author {
        @include mobile-header2-sub-header;
        width: 44%;
        margin: 0;
        padding-bottom: 2.5rem;
    }

    &__heading {
        @include mobile-header2-sub-header;
        width: 83.334%;
        margin: 0;
        padding-bottom: 1.5rem;
    }

    &__container {
        @include mobile-header5-labels;
        width: 98%;
        margin-bottom: 2.5rem;
    }
}

.picture {

    &__container {
        @include mobile-offset;
        background-color: $alabaster;
    }

    &__gallery {
        max-width: 100%;
        padding-bottom: 1rem;
    }

}


// Footer Styling
.footer {
    @include mobile-offset;
    color: $white;
    background-color: $black;
    height: 38rem;
    padding-top: 1.25rem;

    &__heading {
        @include mobile-header1;
        font-size: 2.11rem;
        max-width: 72.92%;
    }

    &__social__icons {
        display: flex;
        justify-content: space-between;
        width: 45.838%;
    }

    &__logo {
        display: none;
    }

    &__paragraph {
        max-width: 72.92%;
    }

    &__mailto {
        @include mobile-header4-paragraph;
        text-decoration: none;
        color: $white;
        margin: 0;
        font-size: 0.7rem;
    }

    &--name {
        @include mobile-header4-paragraph;
        margin: 0;
        max-width: 63.89%;
    }

    &--address {
        @include mobile-header4-paragraph;
        margin: 0;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: normal;

        &-container {
            @include mobile-header5-labels;
            margin-top: 1rem;
            font-style: normal;
        }
    }

    &--copy-right {
        @include mobile-header5-labels;
        margin: 0;
        font-size: 0.673rem;
        width: 58%;
    }
}