@font-face {
  font-family: Avenir-Bold;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: Avenir-Boldit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-BoldIt.otf);
}

@font-face {
  font-family: Avenir-Demi;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Avenir-Demiit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-DemiIt.otf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Heavy.otf);
}

@font-face {
  font-family: Avenir-Heavyit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-HeavyIt.otf);
}

@font-face {
  font-family: Avenir-It;
  src: url(assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-It.otf);
}

@font-face {
  font-family: Avenir-light;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Light.otf);
}

@font-face {
  font-family: Avenir-Lightit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-LightIt.otf);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf);
}

@font-face {
  font-family: Avenir-MediumIt;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-MediumIt.otf);
}

@font-face {
  font-family: Avenir-regular;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir-Thin;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Thin.otf);
}

@font-face {
  font-family: Avenir-Thinit;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-ThinIt.otf);
}

@font-face {
  font-family: Avenir-UltLt;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-UltLt.otf);
}

@font-face {
  font-family: Avenir-UltLtlt;
  src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-UltLtIt.otf);
}

.main__body {
  margin: 0;
  font-family: Avenir, Roboto;
}

.main__body__header {
  width: 100%;
  height: 5rem;
  background-color: #323232;
  margin: 0;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .main__body__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo__hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .logo__hero__img {
    padding-left: 1.5rem;
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo__hero__img {
    padding-left: 10rem;
    padding-right: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo__hero__img {
    padding-left: 11.25rem;
  }
}

.nav__top {
  padding-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav__top {
    padding-left: 3.125rem;
    padding-top: 2.5rem;
  }
}

.link__decor {
  font-family: Avenir-Bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  width: 50%;
}

@media screen and (min-width: 1200px) {
  .link__decor {
    margin-right: 3.5rem;
  }
}

.link__decor:hover {
  opacity: 0.5;
}

.currently__active {
  border-bottom: 0.3125rem solid white;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .currently__active {
    padding-bottom: 2.313rem;
  }
}

@media screen and (min-width: 1200px) {
  .currently__active {
    width: 5rem;
  }
}

.hero__img {
  background-image: url("../assets/logo/hero-img.jpg");
  background-color: #323232;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 50%;
}

@media screen and (min-width: 768px) {
  .hero__img {
    height: 25rem;
    background-size: 100% 25rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__img {
    height: 37.625rem;
    background-size: 100% 37.625rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__img {
    height: 41.875rem;
    background-size: 100% 41.875rem;
    margin-bottom: 3rem;
  }
}

.hero__img__text {
  font-family: Avenir-Bold;
  font-size: 3.75rem;
  line-height: 4.25rem;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  margin-left: 1rem;
  margin-top: 0;
  padding-top: 5%;
  padding-bottom: 7%;
}

@media screen and (min-width: 768px) {
  .hero__img__text {
    padding-left: 1.5rem;
    padding-top: 17%;
    font-size: 2.438rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__img__text {
    padding-left: 10rem;
    padding-top: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__img__text {
    padding-left: 11.25rem;
  }
}

.paragraph__title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .paragraph__title {
    padding-top: 0;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph__title {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  .paragraph__title__photo__gallery {
    padding-bottom: 4rem;
  }
}

.section {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .section {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    margin-left: 11.25rem;
    margin-right: 11.25rem;
    padding-bottom: 3rem;
  }
}

.section__musicians__img {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 375px) {
  .section__musicians__img {
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .section__musicians__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section__musicians__img {
    height: 22.625rem;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .section__musicians__img {
    height: 25rem;
    width: 90%;
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .section__musicians__img {
    height: 28.125rem;
    width: 100%;
    margin-bottom: 3rem;
  }
}

.section__quote {
  margin-bottom: 2rem;
  margin-top: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 98%;
}

@media screen and (min-width: 768px) {
  .section__quote {
    font-weight: bold;
    font-size: 1.5rem;
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .section__quote {
    padding-left: 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 78%;
  }
}

.section__quote__author {
  margin-bottom: 2.5rem;
  margin-top: 0;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .section__quote__author {
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .section__quote__author {
    padding-left: 2.75rem;
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .section__quote__author--story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .section__quote__author--story--m {
    margin-right: 1.5rem;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .section__quote__author--story--m {
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__quote__author--story {
    width: 55rem;
    padding-left: 2.5rem;
  }
}

.section__quote__author--multi {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .section__quote__author--multi {
    font-size: 1.563rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__quote__author--multi {
    padding-left: 2.5rem;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section__quote__author--multi {
    margin-bottom: 2rem;
  }
}

.section__photo__gallery {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .section__photo__gallery {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__photo__gallery {
    padding-top: 3.125rem;
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .section__photo__gallery {
    padding-left: 11.25rem;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
  }
}

.section__photo__gallery__img {
  width: 100%;
  margin-bottom: 1rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media screen and (min-width: 375px) {
  .section__photo__gallery__img {
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .section__photo__gallery__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section__photo__gallery__img {
    height: 7.875rem;
    width: 31%;
    margin-bottom: 1.5rem;
    margin-right: 0.813rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__photo__gallery__img {
    height: 10.938rem;
    width: 30%;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .section__photo__gallery__img {
    height: 12.0625rem;
    width: 30%;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.section__photo__gallery__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.footer {
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  background-color: #323232;
  height: 41.625rem;
  padding-top: 1.25rem;
  padding-bottom: 2.7rem;
}

.footer__heading {
  font-family: Avenir-Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  font-size: 2.11rem;
  max-width: 72.92%;
}

.footer__social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45.838%;
}

.footer__logo {
  display: none;
}

.footer__paragraph {
  max-width: 72.92%;
}

.footer__mailto {
  font-family: Avenir-Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  font-size: 0.7rem;
}

.footer--name {
  font-family: Avenir-Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
  max-width: 63.89%;
}

.footer--address {
  font-family: Avenir-Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: normal;
}

.footer--address-container {
  font-family: Avenir-Light;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  font-style: normal;
}

.footer--copy-right {
  font-family: Avenir-Light;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 0;
  font-size: 0.673rem;
  width: 58%;
}
/*# sourceMappingURL=main.css.map */