@import './partials/mixins';

.hero__image {
    background-image: url("../assets/images/photo-gallery-1.jpg");
    background-color: $black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 29.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // opacity: 50%;

        @include tablet {
            @include tablet-offset;
            height: 41.875rem;
            align-items: unset;

        }

        @include laptop {
            padding-left: 5.625rem;
            padding-right: 5.625rem;
            height: 41.875rem;

        }

        @include laptop-m {
            height: 41.875rem;
        }

        &__heading {
            color: white;
            width: 89%;
            margin: 0;
            padding-top: 4rem;
            padding-bottom: 1rem;

            @include tablet {
                @include desk-and-tablet-header2-sub-header;
                @include tablet-offset;
                padding-top: 6rem;
            }

            @include laptop {
                padding-left: 5.625rem;
                padding-right: 5.625rem;
                width: 35%;
            }

            @include laptop-l {
                width: 29.509%
            }
        }

        &__text {
            @include mobile-header1;
            @include mobile-offset;
            color: $white;
            margin: 0;
            font-size: 2.2rem;
            line-height: 2.6rem;
            padding-bottom: 2rem;
    
                @include tablet {
                    @include tablet-offset;
                    @include desk-and-tablet-hero-header1;
                    font-size: 3.7rem;
                    line-height: 5rem;
                    width: 77.224%;
    
                }
                
                @include laptop {
                    padding-left: 5.625rem;
                    padding-right: 5.625rem;
                    width: 65.218%;
                }
    
                @include laptop-m {
                    @include laptop-offset;
                    width: 32.6%;
                }

                @include laptop-l {
                    width: 56.558%;
                }
            }

            &__audio {
                @include tablet {
                    width: 62%;
                }
                
                @include laptop {
                    padding-left: 5.5rem;
                }
            }
            
}